<script type="application/ld+json">
{
  "@context": "https://schema.org",
  {% if site.social.type == "Organization" -%}
    "@type": "Organization",
    "url": {{ '/' | absolute_url | jsonify }}{% if site.og_image %},
    "logo": {{ site_og_image | jsonify }}{% endif %}{% if site.social.links %},
    "sameAs": {{ site.social.links | jsonify }}{% endif %}
  {%- else -%}
    "@type": "Person",
    "name": {{ site.social.name | default: site.name | jsonify }},
    "url": {{ '/' | absolute_url | jsonify }}{% if site.description %},
    "description": {{ site.description | jsonify }}{% endif %}{% if site.og_image %},
    "image": {{ site_og_image | jsonify }}{% endif %}{% if site.seo_person.alternate_names %},
    "alternateName": {{ site.seo_person.alternate_names | jsonify }}{% endif %}{% if site.seo_person.job_title %},
    "jobTitle": {{ site.seo_person.job_title | jsonify }}{% endif %}{% if site.seo_person.works_for %},
    "worksFor": {
      "@type": "Organization",
      "name": {{ site.seo_person.works_for | jsonify }}
    }{% endif %}{% if site.author.location %},
    "homeLocation": {
      "@type": "Place",
      "name": {{ site.author.location | jsonify }}
    }{% endif %}{% if site.seo_person.alumni_of %},
    "alumniOf": [{% for school in site.seo_person.alumni_of %}
      {
        "@type": "CollegeOrUniversity",
        "name": {{ school | jsonify }}
      }{% unless forloop.last %},{% endunless %}{% endfor %}
    ]{% endif %}{% if site.seo_person.knows_about %},
    "knowsAbout": {{ site.seo_person.knows_about | jsonify }}{% endif %}{% if site.social.links %},
    "sameAs": {{ site.social.links | jsonify }}{% endif %}
  {%- endif %}
}
</script>
